*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'VT323', monospace;
	font-size: 20px;
	background: linear-gradient(45deg, #c1c3be, #d3fd84);
	height: 100vh;
}

.container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.images{
	display:block;
}
h1{
	text-align: center;
	text-transform: uppercase;
}
img{
	padding: 10px;
	position: relative;
	transition: all 1s linear;
}
img:hover{
    transition: all 1.5s;
	transform: scale(1.1);
	animation: jump infinite 1s alternate;
}

@keyframes jump{
	0% { bottom:0px; scale(1.0);}
	100% { scale(1.1); transform: rotateY(180deg); bottom: 15px; }
}
p{
	border: 2px solid #000;
	min-height: 160px;
	padding: 15px;
}